body {
	background-color: white;
}

section {
	background-image: url("../images/notepad.png");
	background-color: #F7EFA7;
	background-size: 900px auto;
	width: 900px;
	/* http://hdimagelib.com/ */

}

header,
main {
	padding-left: 160px;
}

header {
}

h1 {	
	font-size: 36px;
    padding-top: 36px;
    padding-bottom: 24px;
    margin: 0;
}

main {
	padding-bottom: 32px;
}

ul {
	padding-left: 0px;
	list-style-type: none;
	margin: 0;
}

li {
	width: 900px;
}

li * {
	display: inline-block;
}

i {
	padding-right: 5px;
}

.icon-check-empty {}

li .icon-plus,
.icon-check,
.icon-trash {
	display: none;
}

li p {
	margin: 0px 0 5px;
}

#user-input,
#list-item {
	background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
}

#list-item::-webkit-input-placeholder {
  color: black;
}

#list-item:-moz-placeholder {
  color: black;
}

#list-item::-moz-placeholder {
  color: black;
}

#list-item:-ms-input-placeholder {
  color: black;
}




.help,
.help-box {
	position: fixed;
	top: 0;
	right: 0;
}

.help-box {
	display: none;
	background-color: gray;
	border: 1px black solid;
	width: 250px;
}

